[submodule "framework"]
	path = framework
	url = git@github.com:adamtool/framework.git
	update = merge
[submodule "webinterface-backend"]
	path = webinterface-backend
	url = git@github.com:adamtool/webinterface-backend.git
	update = merge
[submodule "adamsynt"]
	path = adamsynt
	url = git@github.com:adamtool/adamsynt.git
	update = merge
[submodule "adammc"]
	path = adammc
	url = git@github.com:adamtool/adammc.git
	update = merge
[submodule "server-command-line"]
	path = server-command-line
	url = git@github.com:adamtool/server-command-line.git
	update = merge
[submodule "server-command-line-protocol"]
	path = server-command-line-protocol
	url = git@github.com:adamtool/server-command-line-protocol.git
	update = merge
[submodule "high-level"]
	path = high-level
	url = git@github.com:adamtool/high-level.git
	update = merge
[submodule "ui"]
	path = ui
	url = git@github.com:adamtool/ui.git
	update = merge
[submodule "modelchecker"]
	path = modelchecker
	url = git@github.com:adamtool/modelchecker.git
	update = merge
[submodule "logics"]
	path = logics
	url = git@github.com:adamtool/logics.git
	update = merge
[submodule "libs"]
	path = libs
	url = git@github.com:adamtool/libs.git
	update = merge
[submodule "examples"]
	path = examples
	url = git@github.com:adamtool/examples.git
[submodule "boundedSynthesis"]
	path = boundedSynthesis
	url = git@github.com:adamtool/boundedSynthesis.git
[submodule "synthesizer"]
	path = synthesizer
	url = git@github.com:adamtool/synthesizer.git
